
@corner-radius: 5px;
@table-border: 1px solid rgba(0,0,0,0.05);

.box-sizing {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

.corners {
  -webkit-border-radius : @corner-radius;
  -moz-border-radius    : @corner-radius;
  border-radius         : @corner-radius;
}


ul {
  margin  : 0;
  padding : 0;
}

li {
  width               : 100%;
  list-style          : none;
  border              : @table-border;
  border-bottom-width : 0;

  .box-sizing();

  &:last-child {
    border-bottom-width : 1px;
  }
}

.title {
  font-size     : 18px;
  font-weight   : bold;
  margin-bottom : 10px;
}

.total {
  margin-bottom : 5px;

  > span {
    display   : inline-block;
    font-size : 16px;

    &:first-child {
      width       : 140px;
      font-weight : bold;
    }
  }
}

.header {
  border              : @table-border;
  border-bottom-width : 0;

  span {
    display     : inline-block;
    font-weight : bold;
  }
}

