@import "common";

body {
  padding          : 0;
  margin           : 0;

  font-family      : Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size        : 12px;
  color            : #333333;

  background-color : #FEFEFE;
}

#container {
  width      : auto;
  max-width  : 956px;
  min-width  : 300px;
  min-height : 130px;

  margin     : 10px auto;
  padding    : 10px;
  .corners();
}

h1 {
  font-size   : 30px;
  margin-left : 14px;
}

h2 {
  font-size   : 20px;
  margin-left : 18px;
}

h3 {
  position            : absolute;
  top                 : 0;
  margin              : 0;

  font-size           : 60px;
  color               : rgba(0, 0, 0, 0.1);
  pointer-events      : none;
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  user-select         : none;
  cursor              : default;
}

section {
  position         : relative;
  display          : block;
  width            : 100%;
  height           : auto;
  min-height       : 200px;
  min-width        : 300px;

  padding          : 90px 10px 10px 10px;
  margin-bottom    : 10px;

  vertical-align   : top;
  background-color : #F8F8F8;

  font-size        : 14px;

  border           : 1px solid rgba(0, 0, 0, 0.05);
  .box-sizing();
  .corners();

  a.toggle {
    display         : inline-block;
    margin-bottom   : 10px;
    text-decoration : none;

    &:after {
      content   : '»';
      position  : relative;
      font-size : 16px;
      left      : 5px;
      top       : 1px;
    }
  }
}

.loader {
  text-align : center;
}

#summary {
  width : 100%;

  div {
    margin-bottom : 5px;

    > span {
      display   : inline-block;
      font-size : 16px;

      &:first-child {
        width       : 140px;
        font-weight : bold;
      }
    }
  }

  aside {
    max-width  : 350px;
    padding    : 10px 0;
    margin-top : 10px;

    border-top : 1px solid #EFEFEF;
  }
}

#packages {
  display         : flex;
  width           : 100%;

  flex-direction  : column;
  justify-content : center;
  align-items     : center;
}

#talk {
  background-color : #E3FFE3;

  .calls {
    max-width     : 300px;
    height        : 0;
    margin-bottom : 10px;
    overflow      : hidden;

    -webkit-transition : height 200ms ease-in-out;
    -moz-transition    : height 200ms ease-in-out;
    -ms-transition     : height 200ms ease-in-out;
    -o-transition      : height 200ms ease-in-out;
    transition         : height 200ms ease-in-out;

    &.expanded {
      height                  : 190px;
      overflow-y              : auto;
      -webkit-overflow-scroll : touch;
    }

    span {
      display     : inline-block;
      width       : 80px;
      padding     : 3px 3px;

      border-left : @table-border;
      .box-sizing();

      &:first-child {
        width             : 120px;
        border-left-width : 0;
      }
      &:last-child {
        width : auto;
      }
    }
  }
}

#watch {
  background-color : #FFE3EC;

  aside {
    position  : absolute;
    bottom    : 0;

    font-size : 11px;
    color     : #666666;
  }

  .watch-list {
    max-width : 300px;
    padding   : 10px 0;

    span {
      padding : 3px;

      &:first-child {
        display      : inline-block;
        width        : 210px;
        border-right : @table-border;
      }
    }
  }
}

#web {
  background-color : #F0F8FF;
}

@media screen and (min-width : 977px) {
  #container {
    border : 1px solid #EFEFEF;
  }

  #summary {
    margin-bottom : 10px;
    height        : inherit;
  }

  #packages {
    flex-direction  : row;
    justify-content : center;
    align-items     : center;

    & > section {
      flex         : 1 0 0;
      -webkit-flex : 1 0 0;
    }
  }

  section {
    display : inline-block;
    width   : auto;
    height  : 400px;
    margin  : 0 10px 0 0;

    &:last-child {
      margin-right : 0;
    }
  }
}

